<div class="background">
  <div class="gradient">
    <h1>Home</h1>
    <div class="container">
      <p class="text-style">
        Glow Freight was founded in 2002 to provide specialized freight forwarding services to the Malaysian, Thailand,
        Indonesian and Singapore Oil and Gas industry, a service we continue today to a number of major international
        and local companies in the sector. With our city and port-side warehousing facilities in Malaysia, Thailand,
        Singapore, India and Indonesia, Glow Freight Services offers temporary and long term storage, consolidation and
        repacking for sea and air freighting. Together with our network of transportation, stevedoring, customs and
        cargo handling offices and affiliates in <b>Malaysia, Thailand, Singapore, India and Indonesia</b>, we offer our
        customers a full, seamless and reliable range of Total logistics Solutions, Cross Border Trucking (Singapore -
        Malaysia - Thailand), Consolidation, Charter Flight's and Vessel, Hot Shot movements, Customs Clearance,
        Transshipment and Re-Exporting Services.
      </p>
      <br />
      <p class="text-style">
        With a more than a 10 years of experience from the Management and Staff's , Glow Freight has operated across a
        diverse range of ports. From main and secondary coastal ports like <b>Port Klang, KLIA, Klang Valley, Penang, Bukit
          Kayu Hitam, Johor Bharu, Terengganu, All over (Peninsular Malaysia), Songkhla, Sattehiap, Ranong, Rayong,
          Bangkok (Thailand) and Loyang, Jurong, PSA, Tuas (Singapore)</b>, our trucks have served the needs of our customers
        wherever required. Our office and crew are experienced in handling irregular assignments like project cargo,
        special cargo handling, offsize and over weight cargo, handling by road and also transfer at sea or ship
        delivery services.
      </p>
      <br />
      <p class="text-style">
        Glow Freight operates <b>weekly and Daily</b> services between <b>Malaysia Ports & Airports, Singapore Ports and Airports,
          Thailand Ports and Airports and other also from other main world ports and Airports</b>, We also do have our offices
        and our associates agent, where a huge oil and gas, coal and forestry industry thrives. With our dedicated team
        work and non stop services team, we manage to support some of Major Oil and Gas player within our range of
        services for example from Singapore, Malaysia, Thailand, Vietnam, Turkmenistan, Pakistan, India, Indonesia,
        China, USA and also some other oil and gas base countries. Even so, contractors and rig owners will often call
        on our Door-to-Door services which ensures the fastest delivery from almost anywhere in the world to any
        location in Malaysia, Singapore, Thailand. Where time is critical, our familiarity and expertise with customs
        clearance, documentation formality and local transportation is the lynch-pin of our Door-to-Door service,
        enabling our customers to deploy their equipment as and when and where needed.
      </p>
      <br />
      <p class="text-style">
        Today, our founders Mr. Babu and Mr. Muhun continue to be actively involved in the activities of the company,
        assisted by a team of long-serving professionals who have wide expertise in the shipping, transportation and
        off-shore industry. In Singapore, through our Business Director, Mr.Appan, we have enjoyed a strong local
        presence and benefited from his extensive public and business network in the region, making it possible for us
        to deliver changing services that are needed by a fast developing industry
      </p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h4 class="text-center">Air Transportation</h4>
          <img src="assets/images/air.jpg">
        </div>
        <div class="col-sm">
          <h4 class="text-center">Sea Transportation</h4>
          <img src="assets/images/sea.jpg">
        </div>
        <div class="col-sm">
          <h4 class="text-center">Road Transportation</h4>
          <img src="assets/images/road.jpg">
        </div>
      </div>
    </div>
  </div>
</div>